*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 100px;
    border-bottom: black solid 1px;
    
}
.phone{
    color: #000;
    float: left;
    margin-left: 50px;
    margin-top:10px;
}
.img-responsive{
    margin-left:0px; 
    float: left;
}
.registration{
  float: right; 
}
.phone-number{
    color: #777;
}   
.menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
  }
.menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
.menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
  
  /*==Dropdown Menu==*/
.danang {
    display: none;
    position: absolute;
  }
.menu li {
    position: relative;
  }
.menu li:hover .danang {
    display: block;
  }
  .danang li {
    margin-left: 0 !important;
  }
.order input{
    margin-top: 130px; 
    width: 300px;
    height: 30px;
    margin-left:200px; 
    border: red solid 1px;
}
.video{
    margin-top: 10px;
    text-align: center;
}
.wrapper{
    margin: 20px;
    width: 100%;
    height: 380px;
    background: #777;
    text-align: center;
}
registration ,input{
   width: 300px;
   border: red solid 1px;
   margin: 10px;
   text-align: center;
   height: 20px;
}
span input{
  height: 20px;
  width: 200px;
}
#ten{
    margin-left: 10px;
}
.sdt{
   margin-left:100px;
}