.header{
    background:#56aaff;
}
.header p{
	text-align: left;
	padding: 1cm;
}
.maincontent{
	background: #00ff00;
	float:left;
	margin-left: 5cm;
	width: 18.5cm;
	height:8cm;
}
.maincontent p{
	text-align: center;
	padding-top: 100px;
}
.sidebar{
	float: left;
    background:#ff00ff;
    margin-left: 0.3;
    width: 7cm;
    height: 8cm;
}
.sidebar p{
	text-align: center;
	padding-top: 100px;
}
.twin1
	{
		background: #ff7f00;
		float: left;
		margin-top: 10px;
		margin-left: 5cm;
		width: 12.8cm;
		height:3cm;
	}
.twin1 p{
	text-align: center;
	padding-top:35px;
}
.twin2{
	float:left;
	background: #ff7f00;
	margin-top: 10px;
    margin-left: 5px;
    width: 12.7cm;
    height: 3cm;
}
.twin2 p{
	text-align: center;
	padding-top: 35px; 
}
.footer{

	background:#56aaff;
	padding: 1cm;
	margin-top: 12cm;
}
