#nav{
	width: 300px;
	border: 2px solid gray;
	box-shadow: 3px 4px 4px gray;
}
#nav p{
	font-weight: bold;
	padding-left: 10px;
}
ul li{
	list-style-type: none;
	padding: 5px;
	margin: 5px;
	border: 2px solid blue;
	width: 200px;
}
ul li a{
	text-decoration: none;
	color: blue;
}
ul li.active{
	background:#BDBDBD;
	font-weight: bold;
}