
header{
    background: #333333;
    color:#e5e5e5;
    height: 100px;
    width: 100%;
}
.dulich{
    float:left;
    line-height: 25px;
    margin-right:10px; 
}
.khachsan{
    float: left;
    line-height: 25px;
    margin-right:10px; 
}
.vanchuyen{
    float: left;
    line-height: 25px;
    margin-right:10px; 
}
.tintuc{
    line-height: 58px;
}
.travel{
    background: #e5e5e5;
    height: 100px;
    color: #56aaff;
    width: 100%;
}
.travel .sdt{
    margin-bottom: 40px;
    text-align: right;
    margin-right:20px; 
    color: #333333;
}
.body{
    height:200px;
    float:center;
}
.body .trong{
   float: left;
   margin: 50px;
   width: 200px;
   height: 100px;
   background: white;
   text-align: center;
   padding: 10px;
   border: 2px solid #56aaff;
   
}
.body .ngoai{
    float: left;
    margin: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 10px;
    background:white;
    border: 2px solid #ff007f;
}
.body .trai{
    float: left;
    margin: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 10px;
    background:white;
    border: 2px solid #ffff56;
}
.body .phai{
    float: left;
    margin: 50px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 10px;
    background:white;
    border: 2px solid #aaff56;
}
.danang .a{
    float: right;
    margin-right:520px; 
    font-size: 40px;
    margin-top:0px; 
}
.danang .b{
    text-align: justify;
    background: white;
    float: right;
    height: 100px;
    width: 800px;
    font-family: newfont;
    font-size: 36px;
    margin-top:-250px; 
}
@font-face{
    font-family: newfont;
    src: url(font/MissFajardose-Regular.ttf)
}
.danang .c{
    float: right;
    margin-right:520px; 
    font-size: 40px;
    margin-bottom:100px; 
}
.danang .d{
    text-align: justify;
    background: white;
    float: right;
    height: 100px;
    width: 800px;
    margin-top:-250px; 
    font-size: 36px;
}
footer{
    background: #333333;
    border-top:2px solid #00ff00; 
}
table{
    width: 600px;
    border-collapse: collapse;
    
}
table,tbody,tr,td,th{
    border: 1px solid black;
    text-align: center;
}
thead{
    background: yellow;
}
.dangki{
    text-align: right;
    color:white;
    margin-right:50px; 
}
@media screen and (max-width:1024){
    header{
        height: 400px;
    }
}